* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: linear-gradient(135deg, #94DAEE, #225B6B);
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

p {
	font-size: 22px;
}

a {
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border: 2px solid black;
	border-radius: 20px;
	margin: auto;
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
	color: black;
}

/*navigation*/
.nav-menu {
	position: absolute;
	text-align: center;
	left: 350px;
	margin-top: 25px;
}

.nav-main-img1 {
	display:inline;
	border: none;
	width: 40%;
	height: auto;
}

.nav-main-img2 {
	display: inline;
	position: relative;
	left: 130px;

	border: none;
	width: 60%;
	height: auto;
}

.nav-menu li a {
	color: black;
}

.nav-main {
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
	color: black;
	margin-bottom: 20px;
}

/*nav-izq*/
.nav-main ul {
	display: flex;
}

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a:hover {
	border-bottom: 2px solid #ffffff;
}

.menu-btn {
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 30px;
	z-index: 2;
	font-size: 1.8rem;
}

.hr {
	margin: 10px 0;
}

.imagen {
	border: solid 3px black;
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

.btn {
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	font-size: 15px;
	border: 1px solid white;
	margin: 10px 0;
}

.btn:hover {
	opacity: .7;
}

.pie {
	position: sticky;
	background: #1A1A1A;
	color: white;
	
	text-align: center;
	padding: 15px;
	width: 100%;
}

section {
	padding: 50px 200px;
}

.noticias img {
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

.redes p a {
	color: black;
	lighting-color: black;
}

.icon {
	width: 25px;
	border-radius: 6px;
	border: 2px solid #e08cf4;
}

input, textarea {
	background-color: beige;
	width: 70%;
	padding: 5px;
	border-radius: 5px;
	border: none;
}

.button input {
	background-color: #225B6B;
	color: white;
	font-weight: bold;
}

.button:hover {
	opacity: 0.7;
}

/*GALERIA DE IMÃGENES (grid layout)*/
.gallery-container {
    display: grid;
    grid-template-columns: auto auto auto;

	margin-left: 190px;
    width: 50%;
	gap: 20px;
}

.gallery-container img {
    display: block;

    width: 300px;
    height: 300px;

    object-fit: cover;
}

.gallery-container figure, figcaption {
    display: block;
    color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	width: 300px;
    font-size: 1.0em;
    text-align: center;
	line-height: 40px;

    background-color: rgb(54, 93, 121);
	border-radius: 20px;
}

.h-extra > h2 {
	text-decoration: underline;
	padding: 3%;
}